@font-face {
    font-family: 'Adwaita Mono';
    src: url(assets/fonts/AdwaitaMono-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Adwaita Mono';
    src: url(assets/fonts/AdwaitaMono-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adwaita Mono';
    src: url(assets/fonts/AdwaitaMono-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adwaita Mono';
    src: url(assets/fonts/AdwaitaMono-BoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adwaita Sans';
    src: url(assets/fonts/AdwaitaSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adwaita Sans';
    src: url(assets/fonts/AdwaitaSans-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

body {
    background: #111111;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-image: radial-gradient(circle at 2px 2px, #333 2px, transparent 0);
    background-size: 50px 50px;
    transform: translate(0, 0);
    animation: scrollBg 10s linear infinite;
    z-index: -1;
}

@keyframes scrollBg {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(-50px, -50px)
    }
}

h1 {
    font-family: 'Adwaita Mono', monospace;
    text-align: center;
    color: #8ad6b7;
}

h2 {
    font-family: 'Adwaita Sans', sans-serif;
    text-align: center;
    color: #fefefe;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
    font-family: 'Adwaita Sans', sans-serif;
    text-align: center;
    color: #fefefe;
}
