@font-face {
    font-family: 'Adwaita Mono';
    src: url(assets/fonts/AdwaitaMono-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Adwaita Mono';
    src: url(assets/fonts/AdwaitaMono-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adwaita Mono';
    src: url(assets/fonts/AdwaitaMono-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adwaita Mono';
    src: url(assets/fonts/AdwaitaMono-BoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adwaita Sans';
    src: url(assets/fonts/AdwaitaSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adwaita Sans';
    src: url(assets/fonts/AdwaitaSans-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

html, body {
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    background: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 8%;
    box-sizing: border-box;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-image: radial-gradient(circle at 2px 2px, #333 2px, transparent 0);
    background-size: 32px 32px;
    transform: translate(0, 0);
    animation: scrollBg 8s linear infinite;
    z-index: -1;
}

@keyframes scrollBg {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(-32px, -32px)
    }
}

h1 {
    font-family: 'Adwaita Mono', monospace;
    text-align: center;
    color: #8ad6b7;
    font-size: 4vw;
}

h2 {
    font-family: 'Adwaita Sans', sans-serif;
    text-align: center;
    color: #fefefe;
    font-size: 2vw;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
}

p {
    font-family: 'Adwaita Sans', sans-serif;
    text-align: center;
    color: #fefefe;
    font-size: 1vw;
}

@media (max-width: 1024px) {
    img {
        width: 80%;
    }
    
    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 4vw;
    }
    
    p {
        font-size: 2vw;
    }
}
