@font-face {
    font-family: 'Adwaita Mono';
    src: url(assets/fonts/AdwaitaMono-Regular.ttf);
}


@font-face {
    font-family: 'Adwaita Mono Italic';
    src: url(assets/fonts/AdwaitaMono-Italic.ttf);
}

@font-face {
    font-family: 'Adwaita Mono Bold';
    src: url(assets/fonts/AdwaitaMono-Bold.ttf);
}

@font-face {
    font-family: 'Adwaita Mono Bold Italic';
    src: url(assets/fonts/AdwaitaMono-BoldItalic.ttf);
}

@font-face {
    font-family: 'Adwaita Sans';
    src: url(assets/fonts/AdwaitaSans-Regular.ttf);
}

@font-face {
    font-family: 'Adwaita Sans Italic';
    src: url(assets/fonts/AdwaitaSans-Italic.ttf);
}

body {
    background: #111111;
}

h1 {
    font-family: 'Adwaita Mono';
    text-align: center;
    color: #8ad6b7;
}

h2 {
    font-family: 'Adwaita Sans';
    text-align: center;
    color: #fefefe;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

p {
    font-family: 'Adwaita Sans';
    text-align: center;
    color: #fefefe;
}
